* {
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
}
html {
    height: 100%;
    font-family: 'Jura', sans-serif;
}
body {
    height: 100%;
    font-family: 'Jura', sans-serif;
    font-size: 14px;
    color: #333;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 20px;
    word-wrap:break-word;
    font-family: 'Jura', sans-serif;
}
h2 {
    font-size: 34px;
    line-height: 42px;
    margin-top: 20px;
    margin-bottom: 16px;
    word-wrap:break-word;
    font-family: 'Jura', sans-serif;
}
h3 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 16px;
    font-family: 'Jura', sans-serif;
}
h4 {
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
    font-family: 'Jura', sans-serif;
}
h5 {
    margin-top: 20px;
    font-family: 'Jura', sans-serif;
}
h6 {
    margin-top: 20px;
    font-family: 'Jura', sans-serif;
}
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
    font-family: 'Jura', sans-serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

article iframe {
    width: 100% !important;
}

h1 span,
h2 span {
    border-bottom: 3px solid #f7ee22;
}

a img {
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
a img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
a img.no_hover:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

a {
    color: #686868;
    border-bottom: 1px solid #b0b0b0;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid #7a7a7a;
}

a.blue_link {
    font-size: 16px;
}
/*a.blue_link:hover {*/
    /*border-bottom: 1px solid #237dbe;*/
/*}*/

h1 a,
h1 a:hover {
    border: none;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
figure {
    max-width: 100% !important;
    margin-bottom: 16px;
}

ul,
ol {
    margin-left: 20px;
    margin-bottom: 16px;
}
ul.wp-block-gallery,
ol.wp-block-gallery {
    margin-left: 0;
}

ul,
ol,
p{
    font-size: 16px;
}

blockquote {
    padding: 60px 80px 40px;
    position: relative;
    font-style: normal;
}
blockquote p {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}
blockquote:before {
    content: "« »";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200px;
    line-height: 200px;
    color: rgba(0,0,0,0.1);

}
blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #f7ee22;
    height: 3px;
    width: 200px;
}


.layout {
    position: relative;
    min-height: 100%;

    display: -ms-grid;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
.reducer {
    max-width: 1280px;
    margin: 0 auto;
}

/* MDL defaults */
.mdl-button,
a.mdl-button {
    font-family: 'Jura', sans-serif;
    border: none;
}
.mdl-textfield {
    width: 100%;
}
.mdl-textfield input,
.mdl-textfield select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    color: #555;
    font-family: 'Jura', sans-serif;
    border: 1px solid #000;
    background: #ffffff;
}
.mdl-textfield textarea {
    background: rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Jura', sans-serif;
}
.mdl-textfield.is-dirty input,
.mdl-textfield.is-dirty select,
.mdl-textfield.is-dirty textarea,
.mdl-textfield input:focus,
.mdl-textfield select:focus,
.mdl-textfield textarea:focus {
    color: #333;
}
.mdl-textfield__label {
    color: #555;
    top: 28px;
    padding-left: 5px;
}
.mdl-textfield__input {
    sborder-bottom: 1px solid rgba(0,0,0,.22);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    top: 1px;
}


.mdl-data-table td {
    height: auto;
    vertical-align: top;
    white-space: normal;
    padding: 15px 15px;
}
.mdl-data-table td:first-of-type,
.mdl-data-table th:first-of-type {
    padding-left: 15px;
}
.mdl-data-table td:last-of-type,
.mdl-data-table th:last-of-type {
    padding-right: 15px;
}

.mdl-button.mdl-button--colored {
    color: #ffffff;
}
.mdl-button--raised.mdl-button--colored {
    background: #555;
    color: #ffffff;
    border: 1px solid #555 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.mdl-button--raised.mdl-button--colored:focus:not(:active),
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:focus,
.mdl-button--raised.mdl-button--colored:hover {
    background: #777;
    color: #ffffff;
}

.layout .mdl-button--colored[disabled][disabled],
.layout .mdl-button--colored.mdl-button--disabled.mdl-button--disabled {
    color: rgba(0,0,0,.26);
    background-color: rgba(0,0,0,.12);
}

.mdl-textfield__label:after {
    background: #ffffff;
    display: none;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #555;
    padding-left: 0;
}

.mdl-radio.is-checked .mdl-radio__outer-circle,
.mdl-radio__inner-circle,
.mdl-radio.is-checked .mdl-radio__outer-circle,
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border-color: #110f15;
}
.mdl-radio__inner-circle,
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline,
.mdl-checkbox__ripple-container .mdl-ripple {
    background: #110f15;
}

.mdl-checkbox {
    height: auto;
    min-height: 24px;
}

.mdl-progress.mdl-progress--indeterminate>.bar1,
.mdl-progress.mdl-progress__indeterminate>.bar1,
.mdl-progress.mdl-progress--indeterminate>.bar3,
.mdl-progress.mdl-progress__indeterminate>.bar3 {
    background: #110f15;
}
.mdl-progress {
    width: 100%;
}

fieldset[disabled] .mdl-textfield .mdl-textfield__input,
.mdl-textfield.is-disabled .mdl-textfield__input {
    background: #ededed;
    border-bottom: 1px dotted rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
}

.mdl-tabs__tab {
    background: rgba(0,150,136,0.2);
}
.mdl-tabs__tab.is-active {
    background: rgba(0,150,136,0.4);
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: #110f15;
}


#searchform .mdl-textfield input,
#searchform .mdl-textfield select {
    padding-left: 0;
    padding-right: 0;
}
#searchform .mdl-textfield--expandable .mdl-button--icon {
    top: 4px;
    color: #686868;
}

#searchform .mdl-textfield {

}
#searchform .is-focused input,
#searchform .is-dirty input {
    padding-left: 5px;
    padding-right: 5px;
}
/* MDL defaults */


header {

}
/*header.front-page {*/
    /*position: absolute;*/
    /*z-index: 10;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*background: rgba(0,0,0,.2);*/
/*}*/
header .mdl-cell {
    margin-top: 0;
    margin-bottom: 0;
}
.logo {
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 3px;
    border: none;
}
.logo strong {
    font-size: 24px;
    line-height: 22px;
    color: #110f15;
    text-transform: uppercase;
}
.logo span {
    display: block;
    line-height: 12px;
}
.logo:hover {
    border: none;
}
.mobile_menu_top:hover img,
.logo:hover img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
header .mdl-button em {
    font-style: normal;
}
header .mdl-button .mob {
    display: none;
}
header .header_icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    border: none !important;
}
header .header_icon:last-child {
    margin-right: 0;
}
.header_fixed {
    position: fixed;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
}
.header_fixed.top32 {
    top: 32px;
}
.header_fixed_container {
    height: 65px;
}
.search_btn_full {
    margin-top: 4px;
    margin-left: 3px;
}
.search_btn_mobile {
    margin-top: 4px;
    display: none;
}

nav {
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 20;
    border: 1px solid #000;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 0;
}
nav li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin: 0 10px;
    line-height: 40px;
}
nav .mobile_user_menu {
    display: none;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #171717;
    border: none;
}
nav .main_nav {
    text-align: center;
    margin-left: 0;
    margin-bottom: 0;
}
nav .main_nav .login_link,
nav .main_nav .singnup_link {
    display: none;
}
nav .additional_nav_block {
    float: right;
    position: relative;
}
nav .additional_nav_block li {
    margin-right: 0;
    display: block;
}
nav .additional_nav_popup {
    position: absolute;
    right: 0;
    top: 100%;
    background: #ffffff;
}
nav .additional_nav_popup a {
    padding-right: 15px;
    padding-left: 15px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav .additional_nav_popup a:hover {
    background: rgba(0,150,136,0.2);
}
nav .additional_nav_popup .login_link {
    padding-left: 35px;
    background: url('../i/login.svg') 12px 50% no-repeat;
    -webkit-background-size: 18px auto;
    background-size: 18px auto
}
nav .additional_nav_popup .login_link:hover {
    background: rgba(0,150,136,0.2) url('../i/login.svg') 12px 50% no-repeat;
    -webkit-background-size: 18px auto;
    background-size: 18px auto
}
nav .additional_nav_popup .singnup_link {
    padding-left: 35px;
    background: url('../i/add.svg') 12px 50% no-repeat;
    -webkit-background-size: 18px auto;
    background-size: 18px auto
}
nav .additional_nav_popup .singnup_link:hover {
    background: rgba(0,150,136,0.2) url('../i/add.svg') 12px 50% no-repeat;
    -webkit-background-size: 18px auto;
    background-size: 18px auto
}
.login_link {
    padding-left: 20px;
    background: url('../i/login.svg') 0 50% no-repeat;
    -webkit-background-size: 18px auto;
    background-size: 18px auto;
}
.mobile_menu {
    display: none;
    width: 40px;
    height: 40px;
    background: url('../i/menu.svg') 50% 50% no-repeat;
    -webkit-background-size: 80% auto;
    background-size: 80% auto;
    cursor: pointer;
    float: left;
}
.mobile_menu_top {
    display: none;
}
nav.open .mobile_menu_container li a.mobile_menu_close_icon {
    background: url('../i/close-black.svg') 50% 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
}

.search {
    background: #eaeaea;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.15);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.15);
    box-shadow: 0 3px 3px rgba(0,0,0,.15);
    padding: 10px 0;
}
.search .mdl-grid {
    padding-top: 0;
    padding-bottom: 0;
}
.search .mdl-grid.full {
    flex-wrap: nowrap;
}
.search .search_button {
    position: absolute;
    z-index: 10;
    right: 1px;
    top: 21px;
    color: #ffffff;
    background: #f44336;
}
.search .menu_button {
    width: auto;
    min-width: 0;
    margin: 17px 0 0;
    color: #110f15;
    float: right;
    border: 1px solid #110f15;
}
.search .menu_button span,
.search .menu_button:hover span,
.search .menu_button:hover {
    background: transparent !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    /*width: 40px;*/
    /*height: 40px;*/
}
.search .menu_button span {
    position: relative;
    margin-top: -3px;
    margin-right: -3px;
}
.search p,
form p {
    /*position: absolute;*/
    /*z-index: 10;*/
    /*left: 0;*/
    /*top: -4px;*/
    font-size: 16px;
    color: #110f15;
}
.search .more {

}
.search .more span {
    cursor: pointer;
    color: #4e4e4e;
    border-bottom: 1px dotted #4e4e4e;
}
.search p.no_abs,
form p.no_abs {
    position: static;
    margin-bottom: 5px;
}
form p.note {
    color: #818181;
}
form p.error,
form ul.error {
    color: #f44336;
}
form ul.error {
    margin-left: 20px;
}
.search .mdl-cell,
form .mdl-cell {
    position: relative;
    height: auto;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
}
form .mdl-cell.ha {
    height: auto;
}
.search .mdl-button:hover {
    background: rgba(244, 67, 54, 0.8);
}
.mdl-textfield input, .mdl-textfield select {
    padding-top: 8px;
    padding-bottom: 8px;
}


.breadcrumbs {
    margin-bottom: 1rem;
    margin-left: 0;
    padding: 0;
    color: #6a6a6a;
}
.breadcrumbs a,
.breadcrumbs span {
    display: inline;
    color: #818181;
    font-size: 12px;
}

.big_block {
    height: 400px;
    color: #fff;
    border: none !important;
}
.big_block:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.big_block:hover:before {
    background: rgba(0,0,0,.5);
}
.big_block h2 {
    text-shadow: 0 2px 4px rgba(0,0,0,.3);
}
.big_block .mdl-button--raised.mdl-button--colored {
    background: #ffffff;
    color: #333;
    border: none !important;
}
.big_block:hover .mdl-button--raised.mdl-button--colored,
.big_block .mdl-button--raised.mdl-button--colored:active,
.big_block .mdl-button--raised.mdl-button--colored:focus,
.big_block .mdl-button--raised.mdl-button--colored:hover {
    background: rgba(255,255,255,.7);
    color: #333;
    border: none !important;
}

.categories {
    list-style-type: none;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}
.categories li {
    display: inline-block;
    width: 25%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    vertical-align: top;
}
.categories a {
    color: #4e4e4e;
    text-decoration: none;
}
.categories_icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    display: block;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.25);
    box-shadow: 0 3px 3px rgba(0,0,0,.25);
    -webkit-transition: all 0.28s ease-in-out;
    -moz-transition: all 0.28s ease-in-out;
    -ms-transition: all 0.28s ease-in-out;
    -o-transition: all 0.28s ease-in-out;
    transition: all 0.28s ease-in-out;
}
.categories_title {
    -webkit-transition: all 0.28s ease-in-out;
    -moz-transition: all 0.28s ease-in-out;
    -ms-transition: all 0.28s ease-in-out;
    -o-transition: all 0.28s ease-in-out;
    transition: all 0.28s ease-in-out;
    border-bottom: 1px solid #a2a2a2;
}
.categories a:hover .categories_icon,
.categories a:hover .categories_title {
    opacity: .7;
}
.categories_icon.category1 {
    background: rgba(0,150,136,0.1) url('../i/food.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category2 {
    background: rgba(0,150,136,0.1) url('../i/help.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category3 {
    background: rgba(0,150,136,0.1) url('../i/construction-worker.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category4 {
    background: rgba(0,150,136,0.1) url('../i/factory.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category5 {
    background: rgba(0,150,136,0.1) url('../i/hotel.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category6 {
    background: rgba(0,150,136,0.1) url('../i/student.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category7 {
    background: rgba(0,150,136,0.1) url('../i/cleaning.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category8 {
    background: rgba(0,150,136,0.1) url('../i/driver.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category9 {
    background: rgba(0,150,136,0.1) url('../i/specialist.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category10 {
    background: rgba(0,150,136,0.1) url('../i/shopping-cart.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category11 {
    background: rgba(0,150,136,0.1) url('../i/other.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category12 {
    background: rgba(0,150,136,0.1) url('../i/password.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category13 {
    background: rgba(0,150,136,0.1) url('../i/account.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}
.categories_icon.category14 {
    background: rgba(0,150,136,0.1) url('../i/finance.svg') 50% 50% no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
}


.mdl-button.top_job_icon {
    color: #f44336;
    margin-top: -3px;
}
.mdl-button.top_job_icon2 {
    color: #8f8f8f;
    margin-top: -2px;
}
.mdl-button.top_job_icon3 {
    color: #8f8f8f;
    margin-top: -2px;
}
.mdl-button.top_job_icon4 {
    color: #8f8f8f;
    margin-top: -2px;
}
.mdl-button.top_job_icon5 {
    color: #8f8f8f;
    margin-top: -2px;
}
.table_title h3,
.table_title h3 a {
    line-height: 24px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    margin-bottom: 5px;
}
.top_job .table_title h3 a {
    font-weight: bold;
}
.table_title p {
    color: #5d5d5d;
    smargin-bottom: 0;
    margin-top: 9px;
    line-height: 21px;
}
.table_title .place {
    color: #4a4a4a;
    background: url('../i/location.svg') 0 0 no-repeat;
    -webkit-background-size: auto 90%;
    background-size: auto 90%;
    padding-left: 22px;
    display: inline-block;
    margin-right: 10px;
}
.table_title .time {
    color: #4a4a4a;
    background: url('../i/time.svg') 0 0 no-repeat;
    -webkit-background-size: auto 90%;
    background-size: auto 90%;
    padding-left: 22px;
    display: inline-block;
}
.table_title .price {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}
.table_title span {
    font-weight: normal;
    font-size: 14px;
}
.mdl-button--raised.bordered-button,
.profile_link_block .profile_link,
.table_title .ovh a {
    background: transparent;
    border: 1px solid #110f15;
    color: #110f15;
    margin-top: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.mdl-data-table td.table_price {
    width: 180px;
    font-size: 18px;
    font-weight: bold;
    color: #444444;
    padding-left: 0;
    text-align: center;
}
.table_price span {
    font-weight: normal;
    font-size: 14px;
}
.mdl-data-table td.table_price a {
    display: block;
    width: auto;
    background: transparent;
    border: 1px solid #110f15;
    color: #110f15;
    margin-top: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.table_price .price {
    margin-bottom: 5px;
}
.table_title .additional,
.table_price .additional {
    margin-left: -5px;
    margin-bottom: 3px;
}

span.wpcf7-list-item {
    margin-left: 0;
    margin-right: 20px;
}
span.wpcf7-not-valid-tip {
    display: block;
    padding-top: 4px;
    font-size: 14px;
    overflow: hidden;
    margin: 0;
    padding-bottom: 0;
}
.layout .wpcf7-response-output {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

article h2 {
    margin-bottom: 0;
    margin-top: 15px;
}
article h3 {
    margin-bottom: 7px;
}
article h2 + h3 {
    margin-top: 10px;
}
article ul {
    margin-left: 20px;
    margin-bottom: 15px;
}
article .salary {
    margin-top: 12px;
    margin-bottom: 12px;
}
article .salary span {
    font-size: 26px;
    font-weight: bold;
}
article .place {
    color: #4a4a4a;
    background: url('../i/location.svg') -3px 0 no-repeat;
    -webkit-background-size: auto 90%;
    background-size: auto 90%;
    padding-left: 17px;
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 10px;
}
article .time {
    color: #4a4a4a;
    background: url('../i/time.svg') 0 0 no-repeat;
    -webkit-background-size: auto 90%;
    background-size: auto 90%;
    padding-left: 22px;
    display: inline-block;
    margin-bottom: 16px;
}
article .contact_list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
article .contact_list a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0,150,136,0.45);
}
article .contact_person {
    background: url('../i/login.svg') 0 50% no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 25px;
    margin-bottom: 5px;
}
article .contact_phone {
    background: url('../i/phone.svg') 0 50% no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 25px;
    margin-bottom: 5px;
}
article .contact_email {
    background: url('../i/email.svg') 0 50% no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 25px;
    margin-bottom: 5px;
}
article .contact_address {
    background: url('../i/location.svg') 0 1px no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 25px;
    margin-bottom: 5px;
}
article .contact_viber {
    background: url('../i/viber.svg') 0 1px no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 25px;
    margin-bottom: 5px;
}
article .contact_whatsapp {
    background: url('../i/whatsapp.svg') 0 1px no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 25px;
    margin-bottom: 5px;
}
article .contact_site {
    background: url('../i/web.svg') 0 1px no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 25px;
    margin-bottom: 5px;
}
article .contact_facebook {
    background: url('../i/facebook.svg') 0 1px no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 25px;
    margin-bottom: 5px;
}
.show_contact_btn {
    padding-top: 10px;
    padding-bottom: 16px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-item {
    width: 24%;
    margin-bottom: 10px;
}
.gallery-item img {
    width: 100%;
    height: auto;
}

#mc_embed_signup .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.wp-block-image figcaption,
.wp-caption-text {
    text-align: center;
    padding-top: 4px;
    color: #333;
}

.icon_facebook {
    display: inline-block !important;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: url('../i/facebook.svg') 50% 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    padding: 0 !important;
    margin: 5px;
}
.icon_instagram {
    display: inline-block !important;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: url('../i/instagram.svg') 50% 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    padding: 0 !important;
    margin: 5px 10px;
}


.brand_letter {
    font-size: 36px;
    line-height: 46px;
}

.pagination {
    margin: 0;
    padding: 20px 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    text-align: center;

    font-size: 0;
    line-height: 0;
}
.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.navigation.pagination h2 {
    display: none;
}
.navigation.pagination .nav-links > span,
.navigation.pagination .nav-links > a,
.navigation.pagination .nav-links > a:visited,
.navigation.pagination .nav-links > a:hover {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin: 0 2px 10px;
    text-decoration: none;
    position: relative;
    text-align: center;
    border: 1px solid #aeaeae;
    color: #110f15;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.navigation.pagination .nav-links > span {
    color: #110f15;
    background: #aeaeae;
}
.navigation.pagination .nav-links .prev {
    display: inline-block;
    height: 30px;
    vertical-align: top;
    background: url('../i/left.svg') 50% 50% no-repeat;
}
.navigation.pagination .nav-links .next {
    display: inline-block;
    height: 30px;
    vertical-align: top;
    background: url('../i/right.svg') 50% 50% no-repeat;
}

.file-upload {

}
.file-upload .image-upload-wrap {
    display: none;
}
.file-upload .file-upload-content_loading {
    display: none;
}
.file-upload .loading .file-upload-content_loading {
    display: block;
}
.file-upload .file-upload-content_button {

}
.file-upload .file-upload-content_content {
}
.file-upload .loading .file-upload-content_button,
.file-upload .loading .file-upload-content_content {
    display: none;
}
.file-upload .file-upload-content_img {
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}
.file-upload .file-upload-content_img_ {
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 1;
}
.file-upload .file-upload-content_img .mdl-button {
    color: #f44336;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
}

.files-uploaded {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.files-uploaded-block {
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.files-uploaded-block .mdl-button {
    color: #f44336;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
}
.additional_text_info.close,
.additional_text_info.close a {
    color: #474747 !important;
}
.additional_text_info {
    position: relative;
    padding-right: 36px;
    min-height: 150px;
}
.additional_text_info.close {
    height: 150px;
    overflow: hidden;
}
.additional_text_info_btn {
    display: none;
}
.additional_text_info.close .additional_text_info_btn {
    display: block;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    color: #aeaeae !important;
}
.additional_text_info.close:after {
    content: '';
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.subscribe {

}
.subscribe #mc_embed_signup label {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 0;
    font-weight: normal;
    text-transform: uppercase;
}

.profile_links {
    margin-left: 20px;
}

.up {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    z-index: 20;
    background: rgba(214, 214, 214, 0.5) url('../i/up.svg') 50% 50% no-repeat;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.25);
    box-shadow: 0 3px 3px rgba(0,0,0,.25);
    cursor: pointer;
}

footer {
    background: #000000;
    z-index: 2;
    min-height: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
}
footer ul {
    list-style-type: none;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
}
footer li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px;
}
footer li span {
    color: #333;
}
footer a {
    color: #d6d6d6;
}
footer .footer_mobile_menu {
    display: none;
}
footer .footer_icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    border: none !important;
}

.fade {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
}
.popup {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 1001;
    width: 100%;
    text-align: center;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.popup_bg {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: #ffffff;
    padding: 30px;
    text-align: left;
    margin: 0 20px;
}
.popup_close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    background: url('../i/close-black.svg') 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.view {
    font-family: 'Jura', sans-serif;
}
.note {
    color: #a3a3a3;
}
.icon {
    height: 22px;
    line-height: 22px;
    padding-left: 32px;
}
.icon.icon-view {
    background: url('../i/view.svg') 0 0 no-repeat;
    -webkit-background-size: auto 20px;
    background-size: auto 20px;
    padding-left: 26px;
}
.icon.icon-salary {
    background: url('../i/salary.svg') 0 0 no-repeat;
    -webkit-background-size: auto 20px;
    background-size: auto 20px;
}
.icon.icon-interested {
    background: url('../i/interested.svg') 0 0 no-repeat;
    -webkit-background-size: auto 20px;
    background-size: auto 20px;
}
.border_block {
    border: 1px solid #4c4c4c;
}
.vertical_middle {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dark_hover {
    position: relative;
    overflow: hidden;
}
.dark_hover img {
    position: relative;
    z-index: 1;
    vertical-align: top;
}
.dark_hover:after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.dark_hover:hover:after {
    background: rgba(0,0,0,0);
}
.dark_hover img {
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
.dark_hover:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.block_hover {
    position: relative;
    overflow: hidden;
}
.block_hover img {
    position: relative;
    z-index: 1;
    vertical-align: top;
}
.block_hover img {
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
.block_hover:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.fz16 {
    font-size: 16px;
}
.cinh {
    color: inherit;
}
.bdn,
.bdn:hover {
    border: none;
}
.no_style {
    list-style-type: none;
}
.dib {
    display: inline-block;
    vertical-align: top;
}
.df {
    display: flex;
    flex-wrap: wrap;
}
.df_vac {
    align-items: center;
}
.ttu {
    text-transform: uppercase;
}
.tdn {
    text-decoration: none;
}
.posr {
    position: relative;
}
.fll {
    float: left;
}
.flr {
    float: right;
}
.ovh {
    overflow: hidden;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.gray_text {
    color: #8c8c8c;
}
.half_width {
    width: 50%;
}
.full_width {
    width: 100%;
}
.half_height {
    height: 50%;
}
.full_height {
    height: 100%;
}
.gray_block {
    background: #ebebeb;
}
.green_block {
    background: rgba(0,150,136,0.2);
}
.red_block {
    background: rgba(244, 67, 54, 0.2);
}
.gray_border {
    border-bottom: 1px solid #d3d3d3;
}
.black_border {
    border-bottom: 1px solid #000000;
}
.login_block {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}
.layout .m0 {
    margin: 0;
}
.layout .ml0 {
    margin-left: 0;
}
.layout .mr0 {
    margin-right: 0;
}
.layout .mr5 {
    margin-right: 5px;
}
.layout .mr10 {
    margin-right: 10px;
}
.layout .mt0 {
    margin-top: 0;
}
.layout .mt5 {
    margin-top: 5px;
}
.layout .mt10 {
    margin-top: 10px;
}
.layout .mt15 {
    margin-top: 15px;
}
.layout .mt20 {
    margin-top: 20px;
}
.layout .mt45 {
    margin-top: 45px;
}
.layout .mb0 {
    margin-bottom: 0;
}
.layout .mb5 {
    margin-bottom: 5px;
}
.layout .mb10 {
    margin-bottom: 10px;
}
.layout .mb15 {
    margin-bottom: 15px;
}
.layout .mb20 {
    margin-bottom: 20px;
}
.layout .p20 {
    padding: 20px;
}
.layout .pl0 {
    padding-left: 0;
}
.layout .pr0 {
    padding-right: 0;
}
.layout .p0 {
    padding: 0;
}
.layout .pt0 {
    padding-top: 0;
}
.layout .pb0 {
    padding-bottom: 0;
}
.layout .p10 {
    padding: 10px;
}
.layout .pt10 {
    padding-top: 10px;
}
.layout .pt15 {
    padding-top: 15px;
}
.layout .pt20 {
    padding-top: 20px;
}
.layout .pt50 {
    padding-top: 50px;
}
.layout .pb50 {
    padding-bottom: 50px;
}

.w960 {
    max-width: 960px;
    margin: 0 auto;
}
.w90 {
    width: 90%;
    margin: 0 auto;
}
.w80 {
    width: 80%;
    margin: 0 auto;
}
.w70 {
    width: 70%;
    margin: 0 auto;
}
.w60 {
    width: 60%;
    margin: 0 auto;
}

.top_border {
    border-top: 1px solid #cecece;
}

.mdl-cell--12-col.ml0,
.mdl-cell--12-col-phone.mdl-cell--12-col-phone.ml0 {
    width: calc(100% - 8px);
}
.mdl-cell--12-col.mr0,
.mdl-cell--12-col-phone.mdl-cell--12-col-phone.mr0 {
    width: calc(100% - 8px);
}
.mdl-cell--12-col.ml0.mr0,
.mdl-cell--12-col-phone.mdl-cell--12-col-phone.ml0.mr0 {
    width: 100%;
}

@media screen and (max-width: 1100px) {
    nav li {
        font-size: 14px;
        margin: 0 7px;
    }
}
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 34px;
        line-height: 44px;
    }
    h2 {
        font-size: 28px;
        line-height: 36px;
    }
    h3 {
        font-size: 22px;
        line-height: 26px;
    }
    h4 {
        font-size: 18px;
        line-height: 22px;
    }
    nav li {
        font-size: 14px;
    }
}
@media screen and (max-width: 940px) {
    .mobile_menu {
        display: block;
    }
    .nav_grid {
        z-index: 2000;
        position: relative;
        padding: 0;
    }
    nav {
        border: none;
        line-height: 0;
        height: auto;
    }
    nav .main_nav_container {
        display: none;
    }
    nav.open .main_nav_container {
        display: block;
        position: fixed;
        z-index: 2000;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.75);
    }
    nav.open .mobile_menu_container {
        display: block;
        position: fixed;
        z-index: 2100;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #ffffff;
    }
    nav.open .mobile_menu_top {
        display: block;
        padding: 16px;
        overflow: hidden;
        border-bottom: 1px solid #d0d0d0;
        text-align: center;
    }
    nav.open .mobile_menu_top .logo {
        color: #333333;
        text-transform: none;
        line-height: normal;
        letter-spacing: normal;
    }
    nav.open .main_nav {
        display: block;
        margin-left: 0;
        margin-bottom: 0;
    }
    nav.open .mobile_menu_container li {
        display: block;
        margin: 0;
    }
    nav.open .mobile_menu_container li a {
        padding: 0 16px;
        display: block;
        border: none;
        color: #000000;
    }

    .mdl-cell.mdl-cell--8-col.cross_links,
    .mdl-cell.mdl-cell--4-col.cross_links {
        width: calc(100% - 16px);
    }
    .mdl-cell.mdl-cell--4-col.cross_links .full_height {
        display: flex;
    }
    .mdl-cell.mdl-cell--4-col.cross_links .full_height .half_height {
        height: auto;
        width: 50%;
    }
}
@media screen and (max-width: 840px) {
    .search .mdl-cell--2-col,
    .search .mdl-cell--2-col-desktop.mdl-cell--2-col-desktop {
        width: calc(16.6666666667% - 16px);
    }

    .search .mdl-cell--10-col,
    .search .mdl-cell--10-col-desktop.mdl-cell--10-col-desktop {
        width: calc(83.3333333333% - 16px);
    }
    .mdl-cell--9-col, .mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
        width: calc(75% - 16px);
    }
    .search .mdl-cell--1-col,
    .search .mdl-cell--1-col-desktop.mdl-cell--1-col-desktop{
        width: calc(8.3333333333% - 16px);
    }

    .mdl-cell--11-col, .mdl-cell--11-col-desktop.mdl-cell--11-col-desktop {
        width: calc(91.6666666667% - 16px);
    }

    header .mdl-cell--6-col,
    header .mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
        width: calc(50% - 16px);
    }

    .mdl-cell--6-col,
    .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
        width: calc(100% - 16px);
    }

    .profile_page .mdl-cell--3-col {
        width: calc(25% - 16px);
    }
    .profile_page .mdl-cell--9-col {
        width: calc(75% - 16px);
    }

    .profile_page .mdl-cell--4-col.profile_3col {
        width: calc(33.3333333333% - 16px);
        white-space: nowrap;
    }
    .profile_page .mdl-cell--6-col.profile_2col {
        width: calc(50% - 16px);
    }

    .mdl-cell--3-col,
    .mdl-cell--3-col-tablet.mdl-cell--3-col-tablet {
        width: calc(50% - 16px);
    }

    header .mdl-cell--4-col {
        width: calc(33.3333333333% - 16px);
        white-space: nowrap;
    }
}
@media screen and (max-width: 768px) {
    .categories li {
        width: 33.33333%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .profile_page .mdl-cell--3-col {
        width: calc(100% - 16px);
    }
    .profile_page .mdl-cell--9-col {
        width: calc(100% - 16px);
    }

    .w90,
    .w80,
    .w70,
    .w60 {
        width: 80%;
        margin: 0 auto;
    }
    .layout .wpcf7-response-output {
        width: 80%;
    }

    blockquote {
        padding: 40px;
    }
    blockquote p {
        font-size: 20px;
        line-height: 32px;
    }
}
@media screen and (max-width: 700px) {
    .mdl-data-table,
    .mdl-data-table tbody,
    .mdl-data-table tbody tr,
    .mdl-data-table tbody td,
    .mdl-data-table tbody td.mdl-data-table__cell--non-numeric {
        display: block;
        height: auto;
        border: none;
    }
    .mdl-data-table tbody tr {
        margin-bottom: 16px;
        border: 1px solid rgba(0,0,0,.12);
    }
    .mdl-data-table tbody tr.top_job {
        border-left: 3px solid #110f15;
        border-left: 5px solid rgba(0,0,0,.12);
    }
    .mdl-data-table td.table_price {
        width: auto;
        padding-left: 15px;
        text-align: left;
        padding-top: 0;
        font-size: 22px;
    }
    .mdl-data-table td.table_price a {
        display: inline-block;
        vertical-align: top;
    }


    .mdl-cell.mdl-cell--8-col.cross_links .full_width {
        display: flex;
    }
    .mdl-cell.mdl-cell--8-col.cross_links .half_width {
        width: 100%;
        order: 2;
    }
    .mdl-cell.mdl-cell--8-col.cross_links .half_width.cross_links_img {
        order: 1;
    }
    .mdl-cell.mdl-cell--4-col.cross_links .full_height {
        display: block;
    }
    .mdl-cell.mdl-cell--4-col.cross_links .full_height .half_height {
        width: auto;
    }
    .mdl-cell.mdl-cell--8-col.cross_links .half_width p,
    .mdl-cell.mdl-cell--4-col.cross_links .full_height .half_height p {
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        line-height: 36px;
    }
    h2 {
        font-size: 26px;
        line-height: 32px;
    }
    h3 {
        font-size: 22px;
        line-height: 26px;
    }
    h4 {
        font-size: 18px;
        line-height: 22px;
    }

    .search .mdl-cell--2-col,
    .search .mdl-cell--2-col-desktop.mdl-cell--2-col-desktop,
    .search .mdl-cell--1-col,
    .search .mdl-cell--1-col-desktop.mdl-cell--1-col-desktop {
        width: 100px;
    }
    .search .mdl-cell--11-col,
    .search .mdl-cell--11-col-desktop.mdl-cell--11-col-desktop,
    .search .mdl-cell--10-col,
    .search .mdl-cell--10-col-desktop.mdl-cell--10-col-desktop {
        width: auto;
        flex: 1;
    }

    .profile_page .mdl-cell--4-col.profile_3col {
        width: calc(100% - 16px);
        white-space: nowrap;
    }
    .profile_page .mdl-cell--6-col.profile_2col {
        width: calc(100% - 16px);
        margin-bottom: 5px;
    }
    .profile_page .mdl-cell--6-col.profile_2col .no_mobile {
        display: none;
    }
    .profile_page .mdl-cell--6-col.profile_2col.last {
        margin-bottom: 20px;
    }

    .w90,
    .w80,
    .w70,
    .w60 {
        width: 100%;
    }
    .layout .wpcf7-response-output {
        width: 100%;
    }

    .footer_spacer {
        display: none;
    }
    footer {
        position: relative;
        height: auto;
    }

    blockquote {
        padding: 40px 20px 30px;
    }
    blockquote p {
        font-size: 18px;
        line-height: 26px;
    }

    footer .footer_full_menu {
        display: none;
    }
    footer .footer_mobile_menu {
        display: block;
    }


    .header_fixed.top32 {
        top: 0;
    }
}
@media screen and (max-width: 570px) {
    /*header .header-col1 {*/
        /*width: calc(50% - 16px);*/
        /*white-space: nowrap;*/
        /*order: 2;*/
    /*}*/
    /*header .header-col2 {*/
        /*width: calc(100% - 16px);*/
        /*white-space: nowrap;*/
        /*order: 1;*/
    /*}*/
    /*header .header-col3 {*/
        /*width: calc(50% - 16px);*/
        /*white-space: nowrap;*/
        /*order: 3;*/
    /*}*/
    header .header-col1 {
        width: calc(23% - 16px);
        white-space: nowrap;
    }
    header .header-col2 {
        width: calc(54% - 16px);
        white-space: nowrap;
    }
    header .header-col3 {
        width: calc(23% - 16px);
        white-space: nowrap;
    }

    header .header_icon {
        display: none;
    }
    header .searchform {
        display: none;
    }

    .search_btn_full {
        display: none;
    }
    .search_btn_mobile {
        display: block;
    }

}
@media screen and (max-width: 479px) {
    .mdl-textfield {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        margin-bottom: 0 !important;
    }
    .mdl-textfield input {
        margin-bottom: 0 !important;

    }
    .mdl-textfield .wpcf7-form-control-wrap {
        margin-bottom: 0 !important;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
    }

    .post_link .fll {
        display: inline-block;
        float: none;
        vertical-align: top;
        margin-bottom: 10px;
    }
    .post_link {
        border-bottom: 1px solid #cdcdcd;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    header .mdl-button em {
        display: none;
    }
    header .mdl-button .mob {
        display: inline;
    }
    .categories li {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .login_block {
        padding: 10px 7px;
    }

    .border_block .half_width {
        float: none;
        width: auto;
    }

    .mdl-cell--3-col,
    .mdl-cell--3-col-tablet.mdl-cell--3-col-tablet {
        width: calc(100% - 16px);
    }

    blockquote {
        padding: 40px 0 20px;
    }
    blockquote p {
        font-size: 16px;
        line-height: 22px;
    }
    blockquote:before {
        font-size: 140px;
        line-height: 140px;
    }

    header .header-col1 .mdl-textfield,
    header .header-col2 .mdl-textfield,
    header .header-col3 .mdl-textfield {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}



/* OWL Carousel */
.owl-item,
.owl-carousel {
    min-height: 100%;
}

.owl-item {
    display: block;
    color: #ffffff;
    text-decoration: none;

}
.owl-carousel a,
.owl-carousel a:hover {
    border: none;
    display: inline-block;
    vertical-align: top;

}
.owl-item .owl-item-bg-img,
.owl-carousel a .owl-item-bg-img {
    position: relative;
}

.owl-item-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.owl-carousel a .reducer,
.owl-item .reducer {
    position: relative;
    z-index: 2;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.owl-item-position {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
}

.owl-carousel a  .mdl-grid,
.owl-item .mdl-grid {
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.owl-item h2,
.owl-item h2 a {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: inherit;
    border: none;
    text-decoration: none;
}
.owl-item button {
    border: 1px solid #ffffff;
    background: transparent;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.owl-carousel .owl-dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    text-align: center;
    line-height: 0;
    font-size: 0;
    padding-bottom: 20px;
}
.owl-carousel .owl-dots button {
    width: 30px;
    height: 10px;
    background: transparent;
    margin: 0 5px;
    border: 1px solid #ffffff;
    outline: none;
}
.owl-carousel .owl-dots button.active {
    background: #ffffff;
}

.full-slider-block {
    background: #dedede;
    height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.owl-carousel.full-slider {
    height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .full-slider-block,
    .owl-carousel.full-slider {
        height: 1024px;
    }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .full-slider-block,
    .owl-carousel.full-slider {
        height: 768px;
    }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
    .full-slider-block,
    .owl-carousel.full-slider {
        height: 500px;
    }
}

@media screen and (min-width: 481px) {
    .owl-carousel.full-slider .owl-stage-outer,
    .owl-carousel.full-slider .owl-stage,
    .owl-item, .owl-carousel a,
    .owl-item, .owl-item-bg-img {
        height: 100% !important;
    }
}

.owl-wrapper {
    height: 100%;
}

.owl-item {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .owl-item h2,
    .owl-item h2 a {
        font-size: 40px;
        line-height: 50px;
    }

    article iframe {
        height: 400px !important;
    }
}
@media screen and (max-width: 600px) {
    .owl-item h2,
    .owl-item h2 a {
        font-size: 30px;
        line-height: 40px;
    }

    article iframe {
        height: 300px !important;
    }
}
@media screen and (max-width: 480px) {
    .owl-carousel.full-slider .owl-stage-outer,
    .owl-carousel.full-slider .owl-stage,
    .owl-item, .owl-carousel a,
    .owl-item, .owl-item-bg-img {
        height: auto;
    }
    .owl-carousel.full-slider,
    .full-slider-block  {
        height: auto;
    }
    .owl-item-position {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        padding-bottom: 40px;
        padding-top: 100px;
    }
    .owl-item h2,
    .owl-item h2 a {
        font-size: 30px;
        line-height: 40px;
    }

    article iframe {
        height: 250px !important;
    }
}
/* OWL Carousel */